.pagination2{

    text-align: center;

}


.paginacionNumeros{

    font-size:25px; color: white; padding: 0 10px; background:#6ec1e4; width:25px; height:20px;

    
    &.active{ color: var(--green);
        font-weight: 600;
        border-bottom: 2px solid var(--green);  }


}



#current-hover 

[aria-current],
  .current {
background-color: #0100ff;
color: white;
font-weight: 600;
border-bottom: 2px solid var(--green);
} 

.numPagination{ padding:10px }
 


