

.paginacionNumeros2{

    margin-left: 5px !important; margin-right: 5px !important;  font-size:35px; color: white; padding: 0 10px; background:#61ce70;; width:25px; height:20px;
  
    
    &.active{ color: var(--green);
        font-weight: 600;
        border-bottom: 2px solid var(--green);  }
  
  
  }
  
  
  
  #current2-hover 
  
  [aria-current2],
  .current2 {
  background-color: #7a7a7a;
  color: white;
  font-weight: 600;
  border-bottom: 2px solid var(--green);
  } 