

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");



body {
  /* font-family: "Brandon", Brandon; */
  overflow-x: hidden !important;
  font-family: "Brandom Agency Regular";
}




#___gatsby {
  overflow-x: hidden !important;
}

h1, h2, h3, h4 {
  font-family: "Brandom Agency Regular";
}

.navbar-dark .navbar-toggler {
  border: none !important;
}

.mySwiperSlider.swiper-button-prev, .mySwiperSlider.swiper-button-next {
  color: #0100ff !important;
}

.mySwiperInstagram .swiper-button-prev, .mySwiperInstagram.swiper-button-next {
  color: #fff !important;
}

.titulo {
  font-family: "Brandom Agency Regular";
  font-size: 75px;
  line-height: 1.1em;
  font-weight: 700;
}




.contenedor-body {

 
  max-width: 1140px;
}

.body {
  background: #031fff;
  color: white;
}

.section-1 {
  background: #fffd02;
  color: white;
}

.imagen_home {
  width: 500px;
}

hr {
  opacity: 1 !important;
}

ul li {
  list-style: none;
  padding: 0 !important;
}

ul {
  padding: 0 !important;
}

.contenedor-footer {
  padding-top: 30px;
  max-width: 1140px !important;
}

.col-sm-4 {
  padding: 0px !important;
  margin: 0px !important;
}

.img-check {
  width: 16px;
  margin-right: 10px;
}

a {
  text-decoration: none;
}

.row-imagenes {
  justify-content: center !important;
  align-items: center !important;
}

.titulo_h2 {
  font-size: 60px !important;
}

.swiper-button-next:after, .swiper-button-prev:after {
  font-size: 20px !important;
}

.alinearContenido {
  justify-content: center;
  align-items: center;
}

.titulo2 {
  font-size: 60px;
}

/* Modal estilo */

.modal-content {
  background-color: inherit !important;
  border: none !important;
}

.navbar-brand {
  margin: 0px !important;
}

.modal-body {
  text-align: center !important;
}

.modal-dialog {
  max-width: 100% !important;
}

.modal-header {
  border: none !important;
}

/* .modal-dialog {
  max-width: 100% !important;
}

.modal-backdrop.show {
  opacity: 1 !important;
}
.modal-backdrop {
  background-color: rgba(0, 0, 0, 0.8) !important;
}
.modal-body {
  text-align: center !important;
}
.navbar-brand {
  margin: 0px !important;
} */

/* estilo seciones mkt */

.inicioo {
  align-items: center;
  margin-top: 100px;
  justify-content: center;
  height: 500px;
  background: #0100ff;
}

.letrasBanner {
  text-align: left;
  color: #ffffff;
  font-size: 75px;
  font-weight: 700;
}

.descripcionBanner {
  color: #ffffff;
  width: 70%;
  text-align: justify;
}

.tituloseccion2Mkt {
  color: #fffe00;
  font-size: 60px;
  line-height: 1.1em;
}

.form-control {
  border-radius: 0px !important;
}

.efecto-hover1:hover {
  color: blue;
}

.efecto-hover1 {
  color: #ff5a83;
}

.pos-f-t {
  display: flex;
  justify-content: end;
}

.item-menu {
  color: #fff;
}

.item-menu:hover {
  color: #cdcd41;
}

.item-menu:active {
  color: #cdcd41;
}

/* Responsive */

@media (max-width: 600px) {

  .tituloseccion2Mkt{

    font-size: 42px !important;

    font-weight: 700;
  }


  .descripcionBanner{

    width: 100% !important;
  }

  #dscSumate{ font-size: 20px !important;}


  #tituloSumateMov{

    font-size: 40px !important;
    font-weight: 700 !important;
  }


  .cnt8{ padding-bottom: 30px !important;}

  .seccion8descripcion{

    margin-bottom: 30px;
  }

  #scTri7{

    padding-top: 0px !important;
    
  }


  .contenedor-body8{

    padding:0px 10px 0px 0px !important;
  }
  .seccion8descripcion{

    height: 180px;
    padding: 0 !important;
    font-size: 21px !important;
  }

  .seccion8Titulo{

        
    width: 100%;
    padding: 0px !important;
    text-align: center !important;
    line-height: 1.5;

    font-size: 40px !important;
    font-weight: 700;
  }

  .seccion7descripcion{

    padding: 0 !important;
    font-size: 21px !important;
  }


  .seccion7Titulo{

    
    width: 100%;
    padding: 0px !important;
    text-align: center !important;
    line-height: 1.5;

    font-size: 40px !important;
    font-weight: 700;

  }

  #scTri5{

    padding-top: 0px !important;

  }

  .seccion6descripcion{

    
    padding: 0 !important;
    font-size: 21px !important;
  }

  .seccion6Titulo{

    width: 100%;
    padding: 0px !important;
    text-align: center !important;
    line-height: 1.5;

    font-size: 40px !important;
    font-weight: 700;
  }

  .seccion5descripcion{


    padding: 0 !important;
    font-size: 18px;
  

  }

  .seccion5Titulo{

    width: 100%;
    padding: 0px !important;
    text-align: center !important;
    line-height: 1.5;

    font-size: 40px !important;
    font-weight: 700;
  }

  .row-tri4{

    display: grid ;
  }

  .row-tri5{

    display: grid !important ;
  }


  .descripcionEquipo{

    font-size: 14px !important;

  }

  .nombreEquipo{

    font-size: 18px !important;
    margin-top: 20px !important;

  }

  #tripulacion-cards{

    font-size: 14px;

  }

  #cnt-tripulacion{

    display: grid;
    grid-template-columns: auto auto;

  }

  .letrasBanner{

    font-size: 40px !important;

  }

  #rowSc1{

    display: grid;
    grid-template-columns: auto;

  }

  #rowSc2{

    width: 60%;

  }


  #saberMas2{

    padding-bottom: 15px;

  }

  #saberMas{

    display: grid;
  grid-template-columns: auto auto;
  padding-left: 10px !important;
  padding-right: 10px !important;

  }



 #contenedor-pc{

    display: none;


 }
  .titulo {
    font-size: 20px !important;
  }
  #columnas {
    padding: 10px;
  }
  h2 {
    font-size: 25px !important;
  }
  .imagen-menu {
    width: 50% !important;
  }
  .encabezado {
    font-size: 42px !important;
  }
  .imagenBannerHome {
    padding-top: 40px;
  }
  .modal-video {
    height: auto !important;
    background-size: cover !important;
  }
  .modal-video button {
    margin: 40px !important;
  }
  #sirena-gift{ display: none;}


}

/* estilo tripulacion */

.inicioo {
  align-items: center;
  justify-content: center;
  height: 500px;
  background: #0100ff;
}

.letrasBanner {
  text-align: left;
  color: #ffffff;
  font-size: 70px;
  font-weight: 700;
}

.descripcionBanner {
  color: #ffffff;
  width: 80%;
  text-align: justify;
}

.tituloseccion2Mkt {
  color: #fffe00;
  font-size: 60px;
  line-height: 1.1em;
}

.contenedor-body {
  max-width: 1140px;
}

.body {
  background: #031fff;
  color: white;
}

.descripTriSec2 {
  color: #54595f;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.3em;
  text-align: left;
  padding-bottom: 10px;
}

.uneteTriSec2 {
  color: #ff5983;
  font-size: 30px;
  font-weight: 700;
  text-align: left;
}

.seccion5Titulo {
  padding-left: 100px;
  color: #280077;
  font-size: 60px;
  line-height: 1.1em;
  text-align: left;
}

.seccion5descripcion {
  padding-left: 100px;
  color: #280077;
  font-size: 23px;
  font-weight: 300;
  line-height: 1.1em;
  text-align: left;
}

.contenedor-body5 {
  background: #fffe00;
}

.contenedor-body6 {
  background: #280077;
}

.seccion6Titulo {
  padding-right: 100px;
  color: #ff5983;
  font-size: 60px;
  line-height: 1.1em;
  text-align: left;
}

.seccion6descripcion {
  padding-right: 100px;
  color: #ff5983;
  font-size: 23px;
  font-weight: 300;
  line-height: 1.1em;
  text-align: left;
}

.contenedor-body7 {
  background: #ff5983;
}

.seccion7Titulo {
  padding-left: 100px;
  color: #fff;
  font-size: 60px;
  line-height: 1.1em;
  text-align: left;
}

.seccion7descripcion {
  color: #fff;
  font-size: 23px;
  font-weight: 300;
  line-height: 1.1em;
  text-align: left;
  padding-left: 100px;
}

.contenedor-body8 {
  padding-left: 100px;
  padding-right: 100px;
  background: #0100ff;
}

.seccion8Titulo {
  padding-right: 100px;
  color: #fffe00;
  font-size: 60px;
  line-height: 1.1em;
  text-align: left;
}

.seccion8descripcion {
  padding-right: 100px;
  color: #fffe00;
  font-size: 23px;
  font-weight: 300;
  line-height: 1.1em;
  text-align: left;
}

.div-imagen {
  position: relative;
}

.desvanecer {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.contain {
  border-radius: 20px;
  box-shadow: none;
  background: rgba(1, 0, 255, 0.64);
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.div-imagen:hover .desvanecer {
  opacity: 1;
}

.div-imagen:hover .contain {
  opacity: 3;
}

.nombreEquipo {
  font-size: 25px;
  font-weight: 700;
  color: white;
}

.descripcionEquipo {
  color: white;
  font-size: 20px;
  font-weight: 200;
}

#iconos {
  color: white;
}

#iconos:hover {
  color: yellow;
}

.swiper-slide {
  text-align: center;
}

.image {
  display: block;
  width: 150px;
  height: auto;
}

.overlay {
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  width: 150px;
  height: auto;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(1.1);
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.contenedor-body:hover .overlay {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.imageB {
  color: #007aff;
}
#movil-container{
  
}

@font-face {
  font-family: 'Brandom Agency Blond';
  src: url('../../Fuente/Brandon_bld_0.woff') format('truetype');

  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'Brandom Agency Light';
  src: url('../../Fuente/Brandon_light.woff') format('truetype');

  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'Brandom Agency Regular';
  src: url('../../Fuente/Brandon_reg_0.woff') format('truetype');

  font-style: normal;
  font-weight: normal;
}




.estiloLink:hover{

  font-size:18px;
  font-weight: 700;
  animation-duration: 1.5s;
  transition: 1s ease;
  animation: identifier 0.5s;
}





@keyframes identifier {
  0% { font-size:25px; }
  30% { font-size:18px; }
  60% { font-size:25px; }
  100% { font-size:18px; }
}





/*  aqui va el css para revertir el orden de los contonedores en vs movil  */
@media (max-width: 600px) {

.esconder-titulos{ margin-bottom: 20px; display: block !important }

.imagenes-esconder{ display:none !important }
.formulario-contacto{ padding-left: 20px; padding-right: 20px; }

  #headerId{ display: none !important;}


  #an3{
    padding-left: 20px;
    font-size: 42px !important;

  }
  #cnvAn{
    text-align: center !important;
  }

  #anSc2{

    font-size: 42px !important;
  }

  #analiticaT{
    font-size: 42px !important;
    line-height: 1 !important;
  }

  #b1{ display: none !important; }
  #b2{ display: none !important; }

  #scContactoT{

      font-size: 30px !important;
    padding-left: 20px;
  }

  #mktTf{

    font-size: 42px !important;
    padding-bottom: 20px;
    padding-left: 20px;

  }

  .cnvMkt2{

    text-align: center !important;
  }

.giro {
  display: flex;
}

.giro > * {
  order: 0;
  
  margin: 0px 2px;
}

.uno {
 order: 1;
}

.dos {
 order: 2;
}
}


.esconder-titulos{  display:none ; }