.blog-layout {

  margin-top: 120px;;


  > .ui.grid {
    margin: 0 !important;
    min-height: 100vh;

    > .column {
      padding: 40px;

      &:first-of-type {
        max-height: 100vh;
        /*overflow-y: scroll;
                &::-webkit-scrollbar{
                    display: none;
                }*/
      }

      &:last-of-type {
        &::-webkit-scrollbar {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 600px) { 

  .blog-layout > .ui.grid > .column:first-of-type {
    max-height: none; }
  

 }

.posicion {
  float: right;
}

.blog-contain {
  padding: 35px;
  margin-top: -70px;
  background-color: #ffffff;
  box-shadow: 0px 0px 4px 0px;
  position: absolute;
}

.segundo-grid {
  width: 100%;
}
