.cabecera{

    background-image: url('https://agencia-navegantes.s3.amazonaws.com/cabecera_min_300x94_e3509a9336.png');
}


.titulo-post2{

    color: white;
    font-size: 60px;
    font-weight: 700;
    text-align: center;
    
}

.titulo-bitacora{

    
    color: #ff5983;
    font-weight: 700;
    font-size: 27px;
    margin-top: 30px;
    margin-bottom: 30px;
}



#bitacora-id figure{    
    
    
    text-align: center !important;
    margin: 0 auto !important;   
    

}


