@media (max-width:768px){ 

    .social-media2 {

        text-align: start !important;
        margin-left: 33px !important;
    } 



    .social-media{

        a {
            margin: 0 8px;
            color: #3b39ff;
            .icon{
                font-size: 18px !important;
                opacity: 1 !important;
    
                &:hover {
                    color:#c36;
                }
            }
        }
    
    }


}


.social-media2{
    margin-top: 5px;
    margin-left: 5px;
    a {
        margin: 0 8px;
       
        .icon{
            font-size: 22px;
            opacity: 1 !important;

            &:hover {
                color:#c36;
            }
        }
    }

}

.social-media{

    a {
        margin: 0 8px;
       
        .icon{
            font-size: 29px;
            opacity: 1 !important;

            &:hover {
                color:#c36;
            }
        }
    }

}

.titulo{
   
    color: #ff5983;
    font-weight: 700;
    font-size: 27px;

}